<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div *ngIf="error">
                    <alert *ngIf="serverError" [type]="'warning'" i18n=@@respond-join-req.serverError>Unexpected error,
                        please try again later.
                    </alert>
                    <alert *ngIf="alreadyResponded" [type]="'warning'" i18n=@@respond-join-req.alreadyResponded>Request
                        was already responded by another trip administrator.
                    </alert>
                    <alert *ngIf="tripCompleted" [type]="'warning'" i18n=@@respond-join-req.tripCompleted>This trip
                        was already marked as complete, you can no longer invite or accept new users.
                    </alert>
                </div>
                <div *ngIf="!error">
                    <alert *ngIf="accepted" [type]="'success'" i18n=@@respond-join-req.accepted>User was successfully added to the trip.</alert>
                    <alert *ngIf="!accepted" [type]="'info'" i18n=@@respond-join-req.denied>Join request was denied.</alert>
                </div>
                <div class="error-actions">
                    <a [routerLink]="['/trip/' + tripId]" class="btn btn-primary btn-lg" i18n=@@respond-join-req.tripButton>Go to trip</a>
                </div>
            </div>
        </div>
    </div>
</div>
