<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div *ngIf="!loading" class="container" style="align-content: center; margin: 40px;">
    <div *ngIf="error">
        <h3 class="alert-warning text-center">Request was already responded by another admin</h3>
    </div>
    <div *ngIf="!error">
        <div *ngIf="accepted">
            <h3 class="alert-success">User was successfully added to trip.</h3>
        </div>
        <div *ngIf="!accepted">
            <h3 class="alert-info">Request to join was successfully denied.</h3>
        </div>
    </div>
    <button class="btn btn-primary"><a [routerLink] = "['/trip/' + tripId]">Go to Trip</a></button>
</div>
