<div id="background">
    <app-navigation></app-navigation>
    <div class="container-fluid" id="main-container">
        <div class="container d-flex justify-content-center">
            <div class="card" id="index-card" style="margin-top: 30px;">
                <div class="card-header">Welcome!</div>
                <div class="card-body">
                    <h5 class="card-title">Meet people and travel the world </h5>
                    <p class="card-text">If you are looking to meet people from all around the globe and go on exciting adventures, you are in the right place.</p>
                    <a routerLink="/register" class="btn btn-primary ">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>




