<app-navigation></app-navigation>
<div id="image-background">
    <div class="row title-container" >
        <div id="title">
            <p class="display-1"><b>Meet and Travel</b></p>
            <p class="display-4" i18n=@@index.companyDescription>The best place to make new friends and travel the world!</p>
            <div style="margin-top: 30px;">
                <a routerLink="/register" class="btn btn-primary" style="margin-right: 40px;" i18n=@@index.registerButton><span style="margin: 5px;">Create account</span></a>
                <a routerLink="/login" class="btn btn-primary" i18n=@@index.signinButton><span style="margin: 5px;">Sign in</span></a>
            </div>
        </div>
    </div>
</div>









