#background {
  background-image: url("../../assets/images/trekkingcouple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#image-background {
  background: url("../../assets/images/trekkingcouple.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 907px;
  width: 100%;
}

#custom-text {
  padding-top: 100px;
  padding-left: 900px;
}

#inner-text {
  width: 70%;
}

#custom-buttons {
  padding-top: 100px;
  padding-left: 1100px;
}

#main-container {
  min-height: 100vh;
}

#index-card {
  width: 80%;
  opacity: 0.95;
}
