<app-navigation></app-navigation>
<div id="image-background">
    <div id="custom-text">
        <div id="inner-text">
            <p class="display-1"><b>Meet and Travel</b></p>
            <p class="display-4" i18n=@@index.companyDescription>The best place to make new friends
                and travel the world!</p>
        </div>

    </div>
    <div id="custom-buttons">
        <a routerLink="/register" class="btn btn-lg btn-primary" style="margin-right: 70px" i18n=@@index.registerButton>Create account</a>
        <a routerLink="/login" class="btn btn-lg btn-info " i18n=@@index.signinButton>Sign in</a>
    </div>
</div>








