<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <alert *ngIf="user?.invitations?.length === 0" [type]="'primary'"
                   i18n=@@invitations.noInvitations class="text-center">You don't have any pending invitations
            </alert>
            <alert *ngIf="sentResponseAccept" [type]="'success'" class="text-center" [dismissOnTimeout]="3000">Invitation accepted</alert>
            <alert *ngIf="sentResponseDeny" [type]="'primary'" class="text-center" [dismissOnTimeout]="3000">Invitation rejected</alert>
            <alert *ngIf="serverError" [type]="'danger'" class="text-center" [dismissOnTimeout]="3000">Server error, try again...</alert>
            <alert *ngIf="alreadyRespondedError" [type]="'warning'" class="text-center" [dismissOnTimeout]="3000">This invitation was already responded</alert>
            <div *ngIf="user?.invitations?.length > 0">
                <div *ngFor="let invitation of user?.invitations" class="card" style="margin-bottom: 20px;">
                    <div class="card-header">
                        <p style="font-size: 1.2em"><a
                                routerLink="/trip/{{invitation.trip.id}}">{{invitation.trip.name}}</a></p>
                    </div>
                    <div class="card-body">
                        <div class="row d-flex align-content-around">
                            <div class="col">
                                <p style="font-size: 1.1em">Invited
                                    by {{invitation.inviter.firstname}} {{invitation.inviter.lastname}}</p>
                            </div>
                            <div class="col-6">
                                <div style="margin-left: 30%">
                                    <button class="btn btn-primary" style="margin-right: 4%; width: 100px;"
                                            (click)="respondInvitation(invitation, true)">Accept
                                    </button>
                                    <button class="btn btn-danger" style="width: 100px;"
                                            (click)="respondInvitation(invitation, false)">Reject
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>