<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all" th:text="#{mailRegisterTitle}"></title>
    <meta charset="UTF-8"/>
    <style>
        .container {
            text-align: center;
            margin-bottom: 20px;
            color: black;
        }

        .button {
            margin-top: 20px;
            background-color: lightblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        a:link {
            color: white;
        }
    </style>
</head>
<body>
<div>
    <div class="container">
        <h1 th:text="#{mailRegisterHeader1(${name})}"></h1>
        <h3 th:text="#{mailRegisterHeader2}"></h3>
        <p th:text="#{mailRegisterBody}"></p>
        <a class="button" th:href="${verificationURL}">Verify Account</a>
    </div>
</div>
</body>
</html>


