<app-navigation></app-navigation>
<div class="container-fluid mt-4">
    <div class="card-deck">
        <div class="row justify-content-center">
            <!--<h1>{{trips[0][0]?.name}}</h1>-->
            <button (click)="activateHttpInterceptor()">Send http Request</button>
            <!--<app-trip-card
                    *ngFor="let trip of trips[currentPage]"
                    [trip]="trip">
            </app-trip-card>-->
        </div>
    </div>
</div>
<app-paginator
        [numberOfPages]="numberOfPages"
        (pageNumberClick)="updatePage($event)">
</app-paginator>


