<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <alert *ngIf="user?.pendingRates?.length === 0" [type]="'primary'" class="text-center"
                   i18n=@@complete-rates.noRatesAlert>You have no pending rates
            </alert>
            <div *ngIf="user?.pendingRates?.length > 0">
                <h1 style="margin-left: 50px; margin-top: 40px;" i18n=@@rate-form.title>Pending rates</h1>
                <app-rate-form-tile *ngFor="let rate of user?.pendingRates" (rateSubmitEvent)="submitRate($event)"
                                    [rate]="rate"></app-rate-form-tile>
            </div>
        </div>
    </div>
    <!--   TODO  -->
    <!--    <app-paginator
                *ngIf="numberOfPages > 1"
                [numberOfPages]="numberOfPages"
                (pageNumberClick)="updatePage($event)">
        </app-paginator>-->
</div>

