<app-navigation></app-navigation>
<div class="container-fluid" id="main-container">
    <div class="container box" >
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="display-4">Create Activity</div>
                </div>
                <!--todo: form group, labels and errors-->
                <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">Activity name
                        <input formControlName="name" type="text" placeholder=""  class="form-control"/>
                    </div>
                    <div class="form-group">Category
                        <select formControlName="category" name="category" class="form-control" style="margin-bottom: 10px;">
                            <option disabled selected>Select category</option>
                            <option value="Cultural">Cultural</option>
                            <option value="Sports">Sports</option>
                            <option value="Social">Social</option>
                            <option value="Romantic">Romantic</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Family">Family time</option>
                            <option value="Friends">Friends</option>
                            <option value="Business">Business</option>
                            <option value="Relaxation">Relax</option>
                            <option value="Nightlife">Nightlife</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Start date</label>
                                <input formControlName="startDate" class="form-control" type="date" placeholder="dd/mm/yyyy" name="startDate"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Finish date</label>
                                <input formControlName="endDate" class="form-control" type="date" placeholder="dd/mm/yyyy" name="endDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input #search formControlName="placeInput" id="place" type="text" placeholder="" class="form-control"/>
                        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="height: 500px;width: 100%;">
                            <agm-marker *ngIf="submittedPlace" [latitude]="latitude" [longitude]="longitude"></agm-marker>
                        </agm-map>
                    </div>


                    <div class="text-center flex-fill">
                        <button type="submit" class="btn btn-primary btn-lg">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

