<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div class="container-fluid">
    <div class="container">
        <div *ngIf="pendingRates?.length === 0" class="alert alert-success" role="alertdialog" style="margin-top: 40px"
             i18n=@@complete-rates.noRatesAlert>You have no pending rates</div>
        <div *ngIf="pendingRates?.length > 0">
            <h1 style="margin-left: 50px; margin-top: 40px;" i18n=@@rate-form.title>Pending rates</h1>
            <app-rate-form *ngFor="let rate of pendingRates" (rateSubmitEvent)="submitRate($event)" [rate]="rate"></app-rate-form>
        </div>

    </div>
</div>


