<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div class="container rates-container">
    <div *ngIf="rates" class="row d-flex justify-content-center">
        <div class="col-8">
            <h3>{{user.firstname}} {{user.lastname}}   <span *ngIf="rating" class="text-muted">{{rating}}</span></h3>
            <alert *ngIf="rates?.length === 0" [type]="'warning'" i18n=@@all-rates.empty class="text-center">This user
                has no available rates
            </alert>
            <alert *ngIf="error" [type]="'danger'" i18n=@@all-rates.error class="text-center">Error getting data from
                server, try again later
            </alert>
            <div *ngIf="rates?.length > 0" class="list-group list-group-flush" style="margin-top: 20px;">
                <app-rate-tile *ngFor="let rate of rates" [rate]="rate"></app-rate-tile>
            </div>
        </div>
    </div>
</div>

