<div class="row">
    <div class="col-12">
        <div class="card m-5">
            <h5 class="card-header"><a routerLink="/profile/{{rate?.ratedUser?.id}}">{{rate?.ratedUser?.firstname}} {{rate?.ratedUser?.lastname}}</a>
                - <a routerLink="/trip/{{rate?.trip?.id}}">{{rate?.trip.name}}</a></h5>
            <div class="card-body">
                <rating [max]="5" [(ngModel)]="rating" [customTemplate]="tt"></rating>
                <ng-template #tt let-i="index" let-v="value">
                    <button class="btn btn-{{i < v ? 'primary' : 'default'}}">
                        {{i < v ? '&#9733;' : '&#9734;'}}
                    </button>
                </ng-template>

                <textarea
                        class="form-control"
                        type="text"
                        id="commentTextArea"
                        rows="3"
                        [(ngModel)]="comment"
                        placeholder="Write a short review (max 200 characters)"
                        style="margin-top: 20px;resize:none;"
                        maxlength="300">
                </textarea>
                <div style="margin-top: 10px;" *ngIf="showAlert">
                    <alert  [type]="'warning'" [dismissible]="true" (onClosed)="closeAlert()">{{errorMessage}}</alert>
                </div>
            </div>

            <div class="card-footer text-center">
                <button class="btn btn-primary" (click)="submitRate()">Submit</button>
            </div>
        </div>
    </div>
</div>
