<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/index">
        <img src="../../assets/images/earth-globe.png" alt="M&T" height="42" width="42"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <!-- TODO: TRY WITH SPAN HTML TAG-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
                *ngIf="isLoggedIn"
                class="navbar-nav mr-auto">

            <li class="nav-item" id="home-item"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"></li>
            <li class="nav-item" id="my-trips-item"><a class="nav-link" (click)="myTrips()">My trips</a></li>
            <li class="nav-item" id="create-trip-item"><a class="nav-link" routerLink="/create-trip">Create trip </a></li>
            <li class="nav-item" id="about-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul>
        <form *ngIf="isLoggedIn" class="form-inline my-2 my-lg-0">
            <input
                    id="nameInput"
                    name="nameInput"
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search..."/>
            <button
                    class="btn btn-success my-2 my-sm-0"
                    type="submit"
                    (click)="search()">Search
            </button>
        </form>

        <a      *ngIf="!isLoggedIn"
                id="signinButton"
                class="btn btn-success my-2 my-sm-0"
                routerLink="/login"
                style="margin-left: 15px">Sign In
        </a>
        <a
                *ngIf="isLoggedIn"
                (click)="navigateToProfile()">
            <img alt="" style="margin-left: 10px" src="../../assets/icons/user-profile.png"/>
        </a>
        <a *ngIf="isLoggedIn" class="btn btn-dark my-2 my-sm-0" (click)="logout()">
            <img src="../../assets/icons/logout.png" alt="logout"/>
        </a>
    </div>
</nav>
