<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-top: 30px;margin-bottom: 20px;">Create trip</h1>
                <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
                    <alert *ngIf="!!mapsErrorMessage" [type]="'danger'" [dismissible]="true"
                           (onClosed)="closeMapsAlert()">
                        {{mapsErrorMessage}}
                    </alert>

                    <div class="form-group">
                        <label>Name</label>
                        <input formControlName="name"
                               class="form-control"
                               type="text"
                               placeholder="Enter a name for your trip"
                               style="margin-bottom: 10px;"
                               [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <p *ngIf="f.name.errors.required">Field is required</p>
                            <p *ngIf="f.name.errors.minlength">Name must be at least 5</p>
                            <p *ngIf="f.name.errors.maxlength">Maximum length is 30</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptionBox">Description</label>
                        <textarea formControlName="description"
                                  class="form-control"
                                  type="text"
                                  id="descriptionBox"
                                  rows="3"
                                  placeholder="Write a description for your new adventure!"
                                  style="margin-bottom: 10px;resize:none;"
                                  maxlength="300"
                                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <p *ngIf="f.description.errors.required">Field is required</p>
                            <p *ngIf="f.description.errors.minlength">Description must be at least 25 characters
                                long</p>
                            <p *ngIf="f.description.errors.maxlength">Maximum length is 100</p>
                        </div>
                    </div>
                    <alert *ngIf="!!datesErrorMessage" [type]="'danger'" [dismissible]="true"
                           (onClosed)="closeDateAlert()">
                        {{datesErrorMessage}}
                    </alert>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="startDate">Start</label>
                            <input formControlName="startDate"
                                   type="text"
                                   class="form-control"
                                   id="startDate"
                                   autocomplete="off"
                                   placeholder="dd/mm/yyyy"
                                   [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                                   bsDatepicker
                                   [bsConfig]="bsConfig">
                            <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                <p *ngIf="f.startDate.errors.required">Field is required</p>
                                <p *ngIf="f.startDate.errors.invalidInterval">Invalid dates</p>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label for="endDate">End</label>
                            <input formControlName="endDate"
                                   type="text"
                                   class="form-control"
                                   autocomplete="off"
                                   placeholder="dd/mm/yyyy"
                                   [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
                                   bsDatepicker
                                   id="endDate"
                                   [bsConfig]="bsConfig">
                            <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                                <p *ngIf="f.endDate.errors.required">Field is required</p>
                                <p *ngIf="f.endDate.errors.invalidInterval">Invalid dates</p>
                            </div>
                        </div>
                        <div class="col-4" style="padding-top: 15px; padding-left: 40px;">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-sm-2" style="margin-right: 30px">
                                    <h4>{{tripStatus}}</h4>
                                </div>
                                <div class="col">
                                    <label class="switch" for="checkbox">
                                        <input formControlName="isPrivate"
                                               type="checkbox"
                                               id="checkbox"
                                               (click)="changeTripStatus()"
                                        />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input
                        #search
                        formControlName="placeInput"
                        class="form-control"
                        id="place"
                        placeholder="Enter location"
                        type="text"
                        autocomplete="off"
                        autocapitalize="off"
                        [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"/>
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                             style="height: 500px;width: 100%;">
                        <agm-marker *ngIf="submittedPlace" [latitude]="latitude" [longitude]="longitude"></agm-marker>
                    </agm-map>
                    <div *ngIf="submitted && f.placeInput.errors" class="invalid-feedback">
                        <p *ngIf="f.placeInput.errors.required">Field is required</p>
                    </div>
                    <div class="text-center flex-fill" style="margin-bottom: 20px; margin-top: 10px;">
                        <button type="submit" class="btn-primary btn">Create</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()" style="margin-left: 10px;">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
