<app-navigation></app-navigation>

<div class="container-fluid">
    <div class="container box">
        <div class="row">
            <div class="col-12">
                <h5 class="text-white">Create trip</h5>
                <form method="post">

                    <input class="form-control"type="text" name="trip_name" placeholder="Name">
                    <textarea class="form-control" type="text" name="trip_desc" placeholder="Description"></textarea>
                    <input class="form-control" type="hidden" placeholder="dd/mm/yyyy" name="startDate" id="startDate"/>
                    <input class="form-control" type="hidden" placeholder="dd/mm/yyyy" name="endDate" id="endDate" />
                    <div class="form-group">
                        <label for="datefilter" class="text-white">Start date</label>
                        <input type="text" id="datefilter" name="datefilter" value="" class="form-control" autocomplete="false"/>
                    </div>
                    <input  class="form-control" id="pac-input" type="text" placeholder="Enter location..."/>
                    
                    <google-map></google-map>

                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                    </div>
                    <div class="text-center flex-fill">
                        <button type="submit" class="btn-success btn btn-lg">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
