<a (click)="navigateToTrip()" class="custom-card">
    <div class="col-auto mb-3">
        <div class="card trip-card" style="width: 30rem;">
            <img *ngIf="!loadingImage && hasImage" class="card-img-top" [src]="tripImage">
            <img *ngIf="!loadingImage && !hasImage" class="card-img-top" src="./assets/images/trip-default-card.jpg">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 35px;">{{trip?.name}}</h5>
                <p class="card-text">{{trip?.description}}</p>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i></p>
                <p class="card-text">
                    <span *ngIf="trip?.status === 'DUE' && userLang === 'es'" class="badge bg-primary card-badge">Pendiente</span>
                    <span *ngIf="trip?.status === 'IN_PROGRESS' && userLang === 'es'" class="badge bg-success card-badge">En progreso</span>
                    <span *ngIf="trip?.status === 'COMPLETED' && userLang === 'es'"class="badge bg-danger card-badge">Completado</span>
                    <span *ngIf="trip?.status === 'DUE' && userLang !== 'es'" class="badge bg-primary card-badge">Due</span>
                    <span *ngIf="trip?.status === 'IN_PROGRESS' && userLang !== 'es'" class="badge bg-success card-badge">In progress</span>
                    <span *ngIf="trip?.status === 'COMPLETED' && userLang !== 'es'"class="badge bg-danger card-badge">Completed</span>
                    {{startDate | date}} - {{endDate | date}}
                </p>
            </div>
            <div class="card-footer">
                <i class="fa fa-users"></i>
                <small style="margin-left: 4px; margin-right: 10px; font-size: 20px;"><b>{{trip?.membersAmount}}</b></small>
            </div>
        </div>
    </div>
</a>

