<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div *ngIf="!loading" class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        <div *ngIf="!loadingImage">
                            <img *ngIf="hasImage" class="rounded mb-2 img-thumbnail" id="profilePicture"
                                 [src]='profilePicture'/>
                            <img *ngIf="!hasImage" class="rounded mb-2 img-thumbnail" id="defaultImage"
                                 src="/assets/images/profile-default.jpg"/>
                        </div>
                        <button *ngIf="user?.id == loggedUser?.id" (click)="openModal(modalTemplate)"
                           class="btn btn-outline-dark btn-sm btn-block">Edit profile</button>
                    </div>
                    <div class="media-body mb-5">
                        <h4 class="mt-0 mb-0 text-white">{{user?.firstname}} {{user?.lastname}}</h4>
                        <p class="mb-4 text-white"><i class="fa fa-map-marker" aria-hidden="true"
                                                      style="margin-right: 10px"></i>{{user?.nationality}}</p>
                    </div>
                </div>
            </div>

            <!--  <i class="fa fa-suitcase mr-1"> -->
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item" style="margin-left: 10px">
                        <h5 class="font-weight-bold mb-0 d-block">{{userProfile?.dueTrips?.length}}</h5><small
                            class="text-muted"><i class="fa fa-calendar mr-1"></i>Due</small>
                    </li>
                    <li class="list-inline-item" style="margin-left: 10px">
                        <h5 class="font-weight-bold mb-0 d-block">{{userProfile?.activeTrips?.length}}</h5><small
                            class="text-muted"><i class="fa fa-suitcase mr-1"></i>Active</small>
                    </li>
                    <li class="list-inline-item" style="margin-left: 10px">
                        <h5 class="font-weight-bold mb-0 d-block">{{userProfile?.completedTrips?.length}}</h5><small
                            class="text-muted"><i class="fa fa-check mr-1"></i>Completed</small>
                    </li>
                    <li class="list-inline-item" style="margin-left: 10px">
                    <li class="list-inline-item">
                        <h5 *ngIf="hasRates" class="font-weight-bold mb-0 d-block">{{userRate}}</h5>
                        <h5 *ngIf="!hasRates" class="font-weight-bold mb-0 d-block">-</h5><small class="text-muted"><i
                            class="fa fa-heart mr-1"></i>Rate</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">About Me</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">{{user?.biography}}</p>
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent reviews</h5><a *ngIf="userProfile?.rates?.length > 3" class="btn btn-link text-muted"
                                                           routerLink="/profile/{{user?.id}}/rates">Show all</a>
                </div>
                <ul class="list-group list-group-flush">
                    <app-rate-tile *ngFor="let rate of userProfile?.rates | slice:0:3; let i=index" [rate]="rate"></app-rate-tile>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Trip</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editProfileForm" (ngSubmit)="submitEditProfile()">
            <div class="form-group">
                <label for="imageUpload">File input</label>
                <input type="file" class="form-control-file" id="imageUpload" (change)="onFileSelected($event)">
            </div>
            <p *ngIf="submitted && invalidFileExtension" class="invalid-feedback">Invalid file extension, only jpg and
                png allowed.</p>
            <p *ngIf="submitted && invalidFileSize" class="invalid-feedback">Image size too big (max </p>
            <div class="form-group">
                <label for="biography">About Me</label>
                <textarea formControlName="biography" style="resize: none" class="form-control" id="biography"
                          rows="4"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitEditProfile()">Submit</button>
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Close</button>
    </div>

    <!-- TODO -->
    <div *ngIf="submitted && f.biography?.errors" class="invalid-feedback">
        <p *ngIf="f.biography.errors.maxLength">Max length is 150 characters</p>
        <p *ngIf="f.biography.errors.required">Biography</p>
    </div>
</ng-template>
