.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-size: cover;
  background: #262626 no-repeat;
}

body {
  background: #654ea3;
  background: linear-gradient(to right, #e96443, #904e95);
  min-height: 100vh
}
