<div class="row">
    <div class="col-6">
        <img *ngIf="hasImage" [src]="tripImage" alt="Trip image">
        <img *ngIf="!hasImage" src="./assets/images/trip-default-info.jpg" alt="Trip image">
    </div>
    <div class="col-6">
        <h3><small>Status:</small>   {{trip.status}}</h3>
        <div class="display-3 ">{{trip?.name}}</div>
        <p class="text-justify" style="font-size: 150%;margin-top: 10px;">{{trip?.description}}</p>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-6 form-group">
        <div class="form-control" placeholder="Datepicker" bsDatepicker #dp="bsDatepicker"
             [isDisabled]="true" [(bsValue)]="startDate" [bsConfig]="bsConfig">Start date: {{startDate | date}}
        </div>
    </div>
    <div class="col-6 form-group">
        <div class="form-control" placeholder="Datepicker" bsDatepicker #dp="bsDatepicker" [isDisabled]="true"
             [(bsValue)]="endDate" [bsConfig]="bsConfig">End date: {{endDate | date}}
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-8">
        <agm-map [latitude]="trip?.startPlace?.latitude" [longitude]="trip?.startPlace?.longitude" [zoom]="14"
                 [zoomControl]="true"
                 style="height: 400px;width: 700px;">
            <agm-marker [latitude]="trip?.startPlace?.latitude" [longitude]="trip?.startPlace?.longitude"></agm-marker>
        </agm-map>
    </div>
    <div class="col-4">
        <div class="list-group">
            <div *ngFor="let member of trip?.members" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <a routerLink="/profile/{{member.user.id}}"><h5 class="mb-1"><i class="fa fa-user"
                                                                                    style="margin-right: 15px;"></i>{{member.user.firstname}} {{member.user.lastname}}
                    </h5></a>
                    <small *ngIf="member.role === 'CREATOR'" style="color: darkorange">{{member.role}}</small>
                    <small *ngIf="member.role === 'ADMIN'" style="color: darkgreen">{{member.role}}</small>
                    <button *ngIf="isAdmin && member.role === 'MEMBER'" (click)="grantAdminRole($event, member.user)"
                            tooltip="Make trip administrator"><i class="fa fa-user-plus"></i></button>
                </div>
            </div>
        </div>
        <div *ngIf="isAdmin" style="margin-top: 20px;">
            <button class="btn btn-primary" (click)="openModal(template)">Invite User</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <button *ngIf="isAdmin" style="margin-right: 15px; margin-left: 10px;" class="btn btn-outline-dark" (click)="openEditTripModal(editTripTemplate)">Edit Trip</button>
    <button *ngIf="isAdmin || isMember" class="btn btn-danger" (click)="exitTrip()">Exit</button>
    <button *ngIf="!loading && !isMember && !waitingConfirmation" class=" btn btn-primary" (click)="requestJoinTrip()">Request to join</button>
</div>

<!-- invite user modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Invite user</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showSuccessAlert">
            <alert [type]="'success'" [dismissible]="true" (onClosed)="closeSuccessAlert()">User invite sent.
            </alert>
        </div>
        <div *ngIf="showErrorAlert">
            <alert [type]="'warning'" [dismissible]="true" (onClosed)="closeErrorAlert()">Error, user was already
                invited.
            </alert>
        </div>
        <section>
            <div class="input-group mb-3">
                <input type="search" placeholder="Search by name..." class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchTerm"
                       (ngModelChange)="newSearch(searchTerm)">
            </div>
            <div *ngFor="let u of userSearchList | async" class="list-group">
                <user-list-item [user]="u" (userClickedEvent)="sendInvite($event)"></user-list-item>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()" style="margin-top: 20px;">Close
        </button>
    </div>
</ng-template>

<!-- edit trip modal -->
<ng-template #editTripTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Trip</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editTripModalRef.hide()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editTripForm" (ngSubmit)="submitEditTripForm()">
            <!-- Image Upload -->
            <div class="form-group">
                <label for="imageUpload">File input</label>
                <input formControlName="imageUpload" type="file" class="form-control-file" id="imageUpload"
                       (change)="onFileSelected($event)">
            </div>
            <!-- Edit Trip Name -->
            <div class="form-group">
                <label for="tripName">Name</label>
                <input formControlName="tripName" type="text" class="form-control" id="tripName">
            </div>
            <!-- Edit description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea formControlName="description" style="resize: none" class="form-control" id="description"
                          rows="4"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitEditTripForm()">Submit</button>
        <button type="button" class="btn btn-outline-primary" (click)="closeEditTripModal()">Close</button>
    </div>
</ng-template>



