.invalid-feedback {
  display: block;
}

.button-list {
  margin-right: 6px;
}

#button-row {
  margin-top: 40px;
}

#googleMaps {
  height: 400px;
  width: 700px;
}

.row-custom {
  margin-top: 50px;
}
