<div class="row">
    <div class="col-6">
        <img *ngIf="hasImage" [src]="tripImage" alt="Trip image">
        <img *ngIf="!hasImage" src="./assets/images/trip-default-info.jpg" alt="Trip image">
    </div>
    <div class="col-6">
        <h3 *ngIf="trip?.status === 'DUE' && userLang === 'es'" style="color: white"><span class="badge bg-primary">Pendiente</span>
        </h3>
        <h3 *ngIf="trip?.status === 'COMPLETED' && userLang === 'es'" style="color: white"><span
                class="badge bg-danger">Completado</span></h3>
        <h3 *ngIf="trip?.status === 'IN_PROGRESS' && userLang === 'es'" style="color: white"><span
                class="badge bg-success">En progreso</span></h3>
        <h3 *ngIf="trip?.status === 'DUE' && userLang !== 'es'" style="color: white"><span
                class="badge bg-primary">Due</span></h3>
        <h3 *ngIf="trip?.status === 'COMPLETED' && userLang !== 'es'" style="color: white"><span
                class="badge bg-danger">Completed</span></h3>
        <h3 *ngIf="trip?.status === 'IN_PROGRESS' && userLang !== 'es'" style="color: white"><span
                class="badge bg-success">In progress</span></h3>
        <div class="display-3">{{trip?.name}}</div>
        <p class="text-justify" style="font-size: 150%;margin-top: 10px;">{{trip?.description}}</p>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-6 form-group">
        <div class="form-control" placeholder="Datepicker" bsDatepicker #dp="bsDatepicker"
             [isDisabled]="true" [(bsValue)]="startDate" [bsConfig]="bsConfig" i18n=@@trip.information.startDate>Start
            date: {{startDate | date}}
        </div>
    </div>
    <div class="col-6 form-group">
        <div class="form-control" placeholder="Datepicker" bsDatepicker #dp="bsDatepicker" [isDisabled]="true"
             [(bsValue)]="endDate" [bsConfig]="bsConfig" i18n=@@trip.information.endDate>End date: {{endDate | date}}
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-8">
        <agm-map [latitude]="trip?.startPlace?.latitude" [longitude]="trip?.startPlace?.longitude" [zoom]="14"
                 [zoomControl]="true"
                 style="height: 400px;width: 700px;">
            <agm-marker [latitude]="trip?.startPlace?.latitude" [longitude]="trip?.startPlace?.longitude"></agm-marker>
        </agm-map>
    </div>
    <div class="col-4">
        <div class="list-group">
            <div *ngFor="let member of trip?.members" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <a routerLink="/profile/{{member.user.id}}"><h5 class="mb-1"><i class="fa fa-user"
                                                                                    style="margin-right: 15px;"></i>{{member.user.firstname}} {{member.user.lastname}}
                    </h5></a>
                    <p *ngIf="member.role === 'CREATOR' && userLang === 'es'" style="color: darkblue">Creador</p>
                    <p *ngIf="member.role === 'ADMIN' && userLang === 'es'" style="color: forestgreen">Administrador</p>
                    <p *ngIf="member.role === 'CREATOR' && userLang !== 'es'" style="color: darkblue">Creator</p>
                    <p *ngIf="member.role === 'ADMIN' && userLang !== 'es'" style="color: forestgreen">Administrator</p>
                    <button *ngIf="isAdmin && !completed && member.role === 'MEMBER' "
                            (click)="grantAdminRole($event, member.user)"
                            tooltip="Make trip administrator"><img src="assets/icons/plus.png" alt="plus icon"></button>
                </div>
            </div>
        </div>
        <div *ngIf="isAdmin && !completed" style="margin-top: 20px;">
            <button class="btn btn-primary" (click)="openModal(template)" i18n=@@trip.information.inviteUserButton>
                Invite User
            </button>
        </div>
    </div>
</div>

<div class="row justify-content-around" style="margin-top: 40px;">
    <div class="col-12">
        <button *ngIf="isAdmin && !completed" type="button" class="btn btn-outline-dark button-list"
                (click)="openEditTripModal(editTripTemplate)"><img
                src="assets/icons/editar.png" alt="remove icon" i18n=@@trip.information.editTripButton>Edit Trip
        </button>
        <button *ngIf="(isAdmin || isMember) && !isCreator && !completed" type="button"
                class="btn btn-danger button-list" (click)="exitTrip()" i18n=@@trip.information.exitTripButton>Exit
        </button>
        <button *ngIf="!loading && !completed && !isMember && !waitingConfirmation" type="button"
                class=" btn btn-primary button-list" (click)="requestJoinTrip()"
                i18n=@@trip.information.requestJoinButton>
            Request to join
        </button>
        <button *ngIf="isCreator && !completed" class="btn btn-outline-dark button-list" type="button"
                (click)="deleteTrip()">
            <img src="assets/icons/eliminar-small.png" alt="remove icon" style="margin-right: 5px;"
                 i18n=@@trip.information.deleteTripButton>Delete Trip
        </button>
        <button *ngIf="canFinish && !completed" class="btn btn-outline-primary button-list" type="button"
                (click)="finishTrip()" i18n=@@trip.information.finishTripButton>Finish Trip
        </button>
    </div>
</div>

<!-- invite user modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" i18n=@@trip.information.inviteUser.title>Invite user</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showSuccessAlert">
            <alert [type]="'success'" [dismissible]="true" (onClosed)="closeSuccessAlert()"
                   i18n=@@trip.information.inviteUser.success>User invite sent.
            </alert>
        </div>
        <div *ngIf="showErrorAlert">
            <alert [type]="'warning'" [dismissible]="true" (onClosed)="closeErrorAlert()"
                   i18n=@@trip.information.inviteUser.error>User was already invited.
            </alert>
        </div>
        <section>
            <div class="input-group mb-3">
                <input type="search" placeholder="Search by name..." class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchTerm"
                       (ngModelChange)="newSearch(searchTerm)">
            </div>
            <div *ngFor="let u of userSearchList | async" class="list-group">
                <user-list-item [user]="u" (userClickedEvent)="sendInvite($event)"></user-list-item>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()" style="margin-top: 20px;"
                i18n=@@trip.information.inviteUser.closeButton>Close
        </button>
    </div>
</ng-template>

<!-- edit trip modal -->
<ng-template #editTripTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" i18n=@@trip.information.editTrip.title>Edit Trip</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editTripModalRef.hide()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editTripForm" (ngSubmit)="submitEditTripForm()">

            <!-- Image Upload -->
            <div class="form-group">
                <label for="imageUpload" i18n=@@trip.information.editTrip.file>File input</label>
                <input type="file" class="form-control-file" id="imageUpload" (change)="onFileSelected($event)">
            </div>

            <!-- Edit Trip Name -->
            <div class="form-group">
                <label for="tripName" i18n=@@trip.information.editTrip.name>Name</label>
                <input formControlName="tripName" type="text" class="form-control" id="tripName">
            </div>
            <div *ngIf="submitted && f.tripName.errors" class="invalid-feedback">
                <p *ngIf="f.tripName.errors.required" i18n=@@trip.information.editTrip.name.required>Name is
                    required</p>
                <p *ngIf="f.tripName.errors.minlength" i18n=@@trip.information.editTrip.name.minlength>Min length is 5
                    characters</p>
                <p *ngIf="f.tripName.errors.maxlength" i18n=@@trip.information.editTrip.name.maxlength>Max length is 15
                    characters</p>
            </div>

            <!-- Edit description -->
            <div class="form-group">
                <label for="description" i18n=@@trip.information.editTrip.description>Description</label>
                <textarea formControlName="description" style="resize: none" class="form-control" id="description"
                          rows="4"></textarea>
            </div>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <p *ngIf="f.description.errors.required" i18n=@@trip.information.editTrip.description.required>
                    Description is required</p>
                <p *ngIf="f.description.errors.minlength" i18n=@@trip.information.editTrip.description.minlength>Min
                    length is 25 characters</p>
                <p *ngIf="f.description.errors.maxlength" i18n=@@trip.information.editTrip.description.maxlength>Max
                    length is 400 characters</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitEditTripForm()"
                i18n=@@trip.information.editTrip.submitButton>Submit
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="closeEditTripModal()"
                i18n=@@trip.information.editTrip.closeButton>Close
        </button>
    </div>
</ng-template>



