.invalid-feedback {
  display: block;
}

.button-list {
  margin-right: 6px;
}

#button-row {
  margin-top: 40px;
}

#googleMaps {
  height: 500px;
  width: 100%;
}

.row-custom {
  margin-top: 10px;
}
