<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<div class="container" *ngIf="trips?.length === 0 || serverError" style="margin-top: 50px;">
    <div class="row">
        <div class="col text-center">
            <alert *ngIf="trips?.length === 0" [type]="'primary'" [dismissible]="false" i18n=@@user-trips.noTrips>You
                are not participating in any trips
            </alert>
            <alert *ngIf="serverError" [type]="'danger'" [dismissible]="false" i18n=@@user-trips.serverError>Unexpected
                error occurred, please try again later
            </alert>
        </div>
    </div>
</div>
<div class="container-fluid mt-4" id="main-container">
    <div class="card-deck" *ngIf="trips?.length > 0">
        <div class="row">
            <app-trip-card
                    *ngFor="let trip of trips"
                    [trip]="trip">
            </app-trip-card>
        </div>
    </div>
</div>
<app-paginator
        *ngIf="numberOfPages > 1"
        [numberOfPages]="numberOfPages"
        [currentPage]="currentPage"
        (pageNumberClick)="updatePage($event)">
</app-paginator>

