<app-navigation></app-navigation>
<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<alert *ngIf="!loading && !trips" [type]="'primary'" [dismissible]="false" i18n=@@user-trips.noTrips>You are not a member of any trip</alert>
<div class="container-fluid mt-4" id="main-container">
    <div class="card-deck" *ngIf="trips?.length > 0">
        <div class="row">
            <app-trip-card
                    *ngFor="let trip of trips[currentPage]"
                    [trip]="trip">
            </app-trip-card>
        </div>
    </div>
</div>
<app-paginator
        *ngIf="numberOfPages > 1"
        [numberOfPages]="numberOfPages"
        (pageNumberClick)="updatePage($event)">
</app-paginator>

