<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <h3 class="margin-class ">Activities</h3>

    <div *ngIf="activities.length == 0">
        <div class="alert alert-primary" role="alert">This trip has no activities</div>
    </div>
    <div *ngIf="activities.length !== 0">
        <div class="list-group" style="margin-bottom: 20px">
            <app-map-activity
                    *ngFor="let activity in activities"
                    [loggedUser]="loggedUser"
                    [isAdmin]="isAdmin"
                    [activity]="activity">
            </app-map-activity>
        </div>
    </div>
    <a *ngIf="isAdmin" class="btn btn-primary text-white" href="" role="button">Add Activity</a>
</div>
